*{
  box-sizing: border-box;
  margin: 0px;
}

body{
  background-color:tan;
}

.container{
  width:70vw;
  height: 100vh;
  margin: auto;
}

header{
  margin-top: 20px;
  padding: 20px;
}

.int_pic{
  width: 100%;
  height: 250px;
}

header > .int_pic{
  width: 100%;
  background-image: url("img/fogpic.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  border: 5px solid white;
}

.layover{
  width: 100%;
  height: 100%;
  background-color: rgba(23, 211, 214 , 0.3);
  border-radius: 3px;
  position: relative;
}

.layover > h1{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% , -50%);
  color: navy;
  border: 3px groove navy;
  padding: 3px;
}

.menu_section{
  background-color: brown;
  height: 50px;
  width: 100%;
  position: relative;
}

.main_menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.main_menu::after{
  clear: both;
  content: "";
  display: table;
}

.nav_item{
  float:left;
  color:white;
  padding: 5PX;
  border-right: 1px solid white;
}

.nav_item:hover {
  background-color: rgba(90,50,50,0.5);
}

#special_item{
  border: none;
}

main{
  width: 100%;
  padding: 20px;
  text-align: center;
}

.corpo{
  width: 30%;
  float: left;
  margin: 0.5%;
  background-color: white;
  border-radius: 3px;
}

.bot_container::after{
  clear: both;
  content: "";
  display: table;
}

#left_sec{
  width: 30%;
  text-align: center;
}

#mid_sec{
  width: 37%;
}
#right_sec{
  width: 30%;
}

.corpo > img{
  width: 98%;
  padding: 5px;
  border-radius: 2px;
}

p{
  color: gray;
}

hr{
  height: 3px;
  color: white;
}

footer{
  color: white;
}

h4{
  color: darkred;
}
